################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Swu.Portal.Web/v15/Server/sqlite3
/packages
/Swu.Portal.Core/bin
/.vs/Swu.Portal.Web/v16
/.vs/Swu.Portal.Web/v15
/.vs/Swu.Portal.Web/v14
